:root {
  --background: #faf3e0;
  --foreground: #161616;
  
  --lightest: #cfc9bc;
  --light: #afa69f;
  --medium: #8f7663;
  --dark: #946442;
  --darkest: #1d1d1d;
  --accent: #5c8aa5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #faf3e0;
    
    --darkest: #faf3e0;
    --dark: #867461;
    --medium: #665447;
    --light: #534134;
    --lightest: #1d1d1d;
    --accent: #394f64;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}
.wrapper {
  margin: 30px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
