:root {
  --background: #eae0d5;
  --foreground: #201d1a;

  /* color palette */
  --lightest: #eae0d5;
  --light: #c6ac8f;
  --medium: #5e503f;
  --dark: #3e302b;
  --darkest: #201d1a;
  --accent: #22333b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3e302b;
    --foreground: #eae0d5;

    /* color palette reversed for dark*/
    --darkest: #eae0d5;
    --dark: #c6ac8f;
    --medium: #5e503f;
    --light: #3e302b;
    --lightest: #201d1a;
    --accent: #22333b;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.wrapper {
  margin: 30px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
