.header {
  padding: 30px 50px;
  color: var(--lightest);
  background-color: var(--lightest);
  color: var(--foreground);
  font-weight: bolder;
  text-transform: capitalize;
  width: 100%;
}
.navWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: row;
  margin: 0 auto;
}

.header div {
  max-width: 1020px;
  display: flex;
  justify-content: space-evenly;
}

.navItem {
  padding: 8px 14px;
  background-color: var(--light);
  border-bottom: 3px solid var(--light);
  border-top: 3px solid transparent;
  border-radius: 10px;
  margin-bottom: 10px;
}

.navItem:hover {
  border-bottom: 3px solid var(--dark);
}
.navItem:active {
  border-top: 3px none;
  border-bottom: 3px solid var(--medium);
}

@media screen and (max-width: 700px) {
  .header {
    padding: 10px;
  }
  .navWrapper{
    flex-wrap: wrap;
  }
  .navItem {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-bottom: 10px;
  }
}