.header {
  padding: 5px 10px;
  color: var(--lightest);
  padding: 30px;
  background-color: var(--medium);
  color: var(--foreground);
  font-weight: bolder;
  text-transform: uppercase;
}
.header span:hover {
  text-decoration: underline;
}
